.container{
    background-image: url('/movie.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overlay{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
  }
 .header{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding-top: 5rem;

 }
  .main{
    color: white;
    background-color: black;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .flex input{
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
  }
  .main button{
    padding: 10px;
    font-size: 17px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
  }